body {
    font-family: sans-serif;

    & div {
        margin-bottom: 1rem;
    }
}

form {
    margin-bottom: 2rem;
}

nav {
    & ul {
        list-style: none;
        padding: 0;
    }

    & li {
        padding: 0 1rem;
        margin: 0.5rem 0;

        &.active {
            background-color: pink;
            width: fit-content;
        }
    }
}

.count-controls {
    list-style: none;
    padding: 0;

    & li {
        margin-bottom: 1rem;
    }
}

button {
    cursor: pointer;
}

.content {
    max-width: 40rem;
    margin-inline: auto;
}

input[type="checkbox"] {
    cursor: pointer;
}

.todo-list {
    padding: 0;
    border: 1px solid;
    list-style: none;
    font-size: 24px;
}

.todo {
    border-bottom: 1px solid #3c3c3c;

    & .toggle{
        &:checked+label {
            background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E);
        }
    }

    &:last-child {
        border-bottom: none;
    }

    & label {
        transition: color 0.4s;
        word-break: break-all;
        padding: 15px 15px 15px 60px;
        display: block;
        line-height: 1.2;
        font-weight: 400;
        color: #484848;
    }

    &.completed {
        & label {
            text-decoration: line-through;
            color: #4848489c;
        }
    }
}

.toggle {
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &+label {
        background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E);
        background-repeat: no-repeat;
        background-position: 0;
    }
}
